.agenda {
    font-family: "Nunito", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}
.title {
    color: #847f7a;
}

.events {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 95%;
}
.nextevents {
    width: 70%;
    height: 80%;
    margin-right: 8%;
    margin-top: 4%;
    overflow: scroll;
}
.calendar {
    margin-top: 2%;
    width: 80%;
    height: 80%;
}
.event {
    display: flex;
    margin-bottom: 5%;
}

.datetime {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    margin-right: 3%;
    border-right: 2px solid #847f7a;
    padding-right: 3%;
}

.info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.eventtitle {
    font-family: "Oswald", sans-serif;
    color: #847f7a;
    font-size: 1.1em;
    margin: 0;
}

.p {
    margin: 2% 0 2% 0;
}
