.bio {
    display: flex;
    justify-content: center;
    font-family: "Nunito", sans-serif;
    padding: 6% 0 6% 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    line-height: 1.6;
    background: rgba(159, 214, 249, 1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(159, 214, 249, 0.3);
    z-index: -1;
    font-size: 1.1rem;
    padding: 2% 2% 4% 2%;
}

.title {
    color: white;

    margin-top: 0;
    font-weight: 100;
    align-self: flex-start;
}

.text {
    margin: 0;
    width: 60%;
    color: black;
}

.biotext {
    margin-bottom: 0;
}
