.bio {
    display: flex;
    justify-content: center;
    font-family: "Nunito", sans-serif;
    padding: 6% 0 6% 0;
}

.title {
    color: #847f7a;
    margin-top: 0;
    font-weight: 100;
    
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    line-height: 1.6;
    text-align: justify;
    font-size: 1.2rem;
}

.text {
    margin: 0;
}
