.bio {
    display: flex;
    justify-content: center;
    font-family: "Nunito", sans-serif;
    padding: 6% 0 6% 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    line-height: 1.6;
    background-color: #94b1ab;

    font-size: 1.1rem;
    padding: 2% 2% 4% 2%;

    box-shadow: 10px 20px 30px rgb(216, 216, 216);
}

.title {
    color: white;
    margin-top: 0;
    font-weight: 100;
    align-self: flex-start;
}

.text {
    margin: 0;
    width: 60%;
    color: black;
}

.biotext {
    margin-bottom: 0;
}
