.contact {
    font-family: "Nunito", sans-serif;
    background-color: #232323;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    z-index: -1;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin-top: 4%;
    margin-bottom: 4%;
}
.input {
    font-family: "Nunito", sans-serif;
    width: 100%;
    height: 3em;
    margin: 1% 0 1% 0;
    padding: 0 0 0 3%;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 100%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
}

.textarea {
    font-family: "Nunito", sans-serif;
    width: 100%;
    height: 3em;
    margin: 1% 0 1% 0;
    padding: 3% 0 0 3%;
    height: 9em;
    font-size: 100%;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
    resize: none; /*remove the resize handle on the bottom right*/
}

.button {
    font-family: "Nunito", sans-serif;
    font-size: 1.2em;
    margin-top: 4%;
    color: rgb(33, 120, 201);
    border: 1px solid rgb(33, 120, 201);
    font-weight: bold;
    background-color: white;
    padding: 3% 8% 3% 8%;
    border-radius: 30px;
    transition: transform 0.5s;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.text {
    margin-top: 0;
    margin-bottom: 0;
}

.personaldata {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.6;
}

.thanks {
    color: green;
    background-color: white;
    padding: 0 2% 0 2%;
    border-radius: 20px;
    border: 1px solid green;
    margin: 3% 0 3% 0;
    font-weight: bold;
}

.error {
    color: rgb(255, 108, 108);
}

@media only screen and (max-width: 768px) {
    .form {
        width: 80%;
    }
}
