@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Oswald:wght@500&display=swap");

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 100;
    font-size: 2.5rem;
}

body {
    margin: 0;
    font-family: "Nunito", sans-serif;
}
