.navbar {
    position: fixed;
    right: 0;
    transform: translate(100%);
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100vh;
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    background: rgba(0, 0, 0, 0.79);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    color: white;
    z-index: 4;
    transition: transform 1s;
    /*  visibility: hidden; */
}

.show {
    transform: translate(0);
}

.exit {
    align-self: flex-end;
    text-align: right;
    margin-right: 7%;
    margin-top: 5%;
}

.exit:hover {
    cursor: pointer;
}

/* .social {
    margin-left: 0.8rem;
    padding-top: 1.5%;
} */

/* .social a {
    margin: 5% 1% 0 2%;
} */

/* i {
    font-size: 2em;
} */

.menu {
    margin-top: 20%;
}

.link {
    color: white;
    text-decoration: none;
    margin: 10% 0 10% 10%;
    font-size: 200%;
    display: block;
}
