.welcome {
    background-image: url("../public/home.jpg");
    height: 100vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    font-family: "Nunito", sans-serif;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8%;
    box-shadow: 10px 10px 30px rgb(216, 216, 216);
}

.logo {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 1%;
    top: 0.2%;
}

.logo_container {
    position: relative;
    width: 34em;
    height: 5em;
}

@media only screen and (max-width: 768px) {
    .logo_container {
        width: 12em;
        height: 2em;
        margin-left: 2%;
    }
}

.icon {
    font-size: 2.7em;
    color: white;
    margin: 2%;
    transition: transform 0.5s;
}
.hamburger_container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(68, 68, 68, 0.25);
    border-radius: 50px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.1px);
    -webkit-backdrop-filter: blur(6.1px);
    transition: transform 0.4s;
    z-index: 3;
    top: 2%;
    right: 2%;
    width: 3em;
    height: 3em;
    padding: 1%;
}

.hamburger {
    position: relative;
    width: 2.8em;
    height: 2.8em;
}

@media only screen and (max-width: 768px) {
    .hamburger {
        width: 2em;
        height: 2em;
    }
    .hamburger_container {
        right: 1%;
    }
}

.hamburger_container:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.1);
}

.text {
    font-style: italic;
    width: 30%;
    text-align: center;
}
