.welcome {
    background-image: url("../public/home.jpg");
    height: 100vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    font-family: "Nunito", sans-serif;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8%;
    box-shadow: 10px 20px 30px rgb(216, 216, 216);
}

.logo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 1%;
    top: 3%;
}

.hamburger {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 2%;
    top: 3%;
    padding: 1%;
    background: rgba(68, 68, 68, 0.25);
    border-radius: 50px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.1px);
    -webkit-backdrop-filter: blur(6.1px);
    transition: transform 0.5s;
}

.hamburger:hover {
    transform: scale(1.1);
}

.text {
    font-style: italic;
    width: 30%;
    text-align: center;
}
